{% extends "frontend/base.html" %}

{% block content %}
{% load staticfiles %}
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">
                {{message}}
            </span>
        </div>
    {% endfor %}
{% endif %}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="alert alert-warning">
                <strong>CASH</strong> {{cash}}
            </div>
        </div>
    </div>
    <div class="row">
        
        <div class="col-sm-12">
            <div class="">
               
                CURRENT POSITION
                {%if active_positions %}
                  <form id="active_positions" action="{% url "close_position" %}"  method="post" class="">
                    {% csrf_token %}
                    <input type="hidden" name="position_to_close" value="">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Strategy</th>
                                <th>run_number</th>
                                <th>contract code</th>
                                <th>position</th>
                                <th>marketPrice</th>
                                <th>marketValue</th>
                                <th>averageCost</th>
                                <th>unrealizedPNL</th>
                                <th>realizedPNL</th>
                                <th>Cancel</th>
                            </tr>
                        </thead>
                         <tbody>
                            
                            {% for  position in active_positions %}
                                <tr class="success">
                                
                                    <td>{{ position.strategy_name}}</td>
                                    <td>{{ position.run_number}}</td>
                                    <td>{{ position.contract_code}}</td>
                                    <td>{{ position.position}}</td>
                                    <td>{{ position.marketPrice}}</td>
                                    <td>{{ position.marketValue}}</td>
                                    <td>{{position.averageCost}}</td>
                                    <td>{{position.unrealizedPNL}}</td>
                                    <td>{{position.realizedPNL}}<input type="radio" name="position" onClick="javascript:position={{ position.contract_code}}"></label></td>
                                    <td><input type="button" name="btn_position_to_close" value="{{ position.contract_code}}" onClick="javascript:position={{ position.contract_code}};close_position()"></td>
                                    <td><a href="javascript:position={{ position.contract_code}};close_position()" class="btn btn-danger" value="{{ position.contract_code}}">Close</a></td>
                                    
                                  
                                </tr>
                           {% endfor %}
                           </select>
                        </tbody>
                   </table>
                </form>
                {% else %}
                    NO ACTIVE POSITION
                {% endif %}
            </div>
        </div>
    </div>
     <div class="row">
        <div class="col-sm-6">
            <div class="well">
                INITIAL OPEN ORDER
                {%if initial_orders %}
                    <table class="table">
                        <thead>
                            <tr>
                                <th>contract code</th>
                                <th>Status</th>
                                <th>Type</th>
                                <th>Quantity</th>
                                <th>Action</th>
                                <th>ID</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for  order in initial_orders %}
                                <tr class="">
                                    <td>{{ order.contract_code}}</td>
                                    <td>{{ order.status}}</td>
                                    <td>{{ order.ibOrder_m_orderType}}</td>
                                    <td>{{ order.ibOrder_m_totalQuantity}}</td>
                                    <td>{{order.ibOrder_m_action}}</td>
                                    <td>{{ order.ibOrder_m_orderId }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    NO INITIAL ORDERS
                {% endif %}
            </div>
        </div>
        <div class="col-sm-6">
            <div class="well">
                ACTIVE OPEN ORDER
                {%if active_orders %}
                    <table class="table">
                        <thead>
                            <tr>
                                <th>contract code</th>
                                <th>Status</th>
                                <th>Type</th>
                                <th>Quantity</th>
                                <th>Action</th>
                                <th>ID</th>
                                <th>Cancel</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            {% for  order in active_orders %}
                                <tr class="">
                                    <td>{{ order.contract_code}}</td>
                                    <td>{{ order.status}}</td>
                                    <td>{{ order.ibOrder_m_orderType}}</td>
                                    <td>{{ order.ibOrder_m_totalQuantity}}</td>
                                    <td>{{order.ibOrder_m_action}}</td>
                                    <td>{{ order.ibOrder_m_orderId }}</td>
                                    <td><button type="button" class="btn btn-warning">Close</button></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                   </table>
                {% else %}
                    NO ACTIVE ORDERS
                {% endif %}  
            </div>
        </div>
    </div>
</div>
    
<script language="javascript">
var position

function closePosition(){
    document.getElementById('active_positions').position_to_close=position;
    document.getElementById('active_positions').submit();
   
}

function close_position(){

 document.getElementById('active_positions').position_to_close=position;
    document.getElementById('active_positions').submit();
   
}

</script>

{% endblock %}
