{% extends "frontend/base.html" %}

{% block content %}
 
<div class="container-fluid text-center">
  <h2>SERVICES</h2>
  <h4>What we offer</h4>
  
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-off logo" ></span>
      <h4>POWER</h4>
      <p>Le pouvoir de maitriser vos transfert d'argent</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-heart logo"></span>
      <h4>LOVE</h4>
      <p>La possibilite de montrer a vos proches que vous les aimez en contribuant a leur besoin</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-lock logo"></span>
      <h4>JOB DONE</h4>
      <p>La satisfaction de vous fournir un travail bien fait</p>
    </div>
    </div>
    <br><br>
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-leaf logo"></span>
      <h4>GREEN</h4>
      <p>La reduction de la polution en eliminant vos deplacement, envoyez votre argent a partir de chez vous</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-certificate logo"></span>
      <h4>CERTIFIED</h4>
      <p>Nos systemes sont certifies et ont la plus grande securite</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-wrench logo"></span>
      <h4>HARD WORK</h4>
      <p>Faite profiter de votre travail ceux qui vous sont cher</p>
    </div>
  </div>
</div>
{% endblock %}
